.ArtistasContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}  

@media (max-width: 500px) {          

    .ArtistasContainer{      
        margin-top: 1rem;
    }   
   
  }