
.CartelContainer{
    
    /* background-image: linear-gradient(#e02275 0%, #764ba2 100%); */
    padding-bottom: 7em;
}

.descFestivalContainer{
    width: 75%;
    margin: 4rem auto;
    font-size: x-large;
}

#imgCartel{
    width: 100%;
}


@media (min-width: 1750px) {
    
    .descFestivalContainer{
        width: 45%;             
    }
    
}

@media (min-width: 1000px) {

    .descFestivalContainer{
        width: 65%;             
    }
}

@media (max-width: 1000px) {

    .descFestivalContainer{
        width: 85%;             
    }

    .CartelContainer{      
        padding-bottom: 3em;
    }
}

@media (max-width: 600px) {

    .descFestivalContainer{
        width: 85%;      
        font-size: small;       
    }
  
    .CartelContainer{      
        padding-bottom: 1em;
    }
}