.GaleriaMainPageContainer { 
    margin-top: 7%;
}

.GaleriaMainPageContainer h1{
    text-transform: uppercase;    
}


@media (max-width: 400px) {
    .GaleriaMainPageContainer h1{        
        font-size: 1.3rem;
    }
}