.artistaContent{
    display: flex;
}

.artistaContent img{
    margin: auto;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.descripcionArtista{
    flex-basis: 50%;
    margin: auto;
    text-align: left;
}

.fechaContent{
    width: 30%;
    margin-left: auto;
    margin-top: 1rem;
}

.buttonBuy{
    text-align: right;
}

.conciertoContent{
    background-color: #ececec;
}

.conciertoContent:nth-child(odd) {
    background-color: #ececec;
}
.conciertoContent:nth-child(even) {
    background-color:#c5c5c5;
}

.conciertoContent h1{
    margin-top :0 ;
    padding-top: 1em;
}

.conciertoContent button{
    cursor: pointer;    
    padding: 0,35em 1.2em;
    border: 0.1em solid black;    
    border: radius 0.12em; 
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;    
    width: 30%;
    height: 75px;
    font-size: larger;    
}

.conciertoContent button:hover{
    color:white;
    background-color: black;
}