.galeriaContent{     
    overflow: hidden;
    background-color: black;    
}

.galeriaContent:focus {
    outline:none;
}

.slick-slide div:focus{
    outline: none;
    border: none;
}

#tituloGaleria{
    color: white;
    font-size: large;
}

@media (max-width: 600px) {
    #tituloGaleria{       
        font-size: small;
    }
  }

